In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('Datasets/iris.csv')

data.dtypes

summary = data.groupby('Species')['SepalLength'].describe() #summary nikalo pancho

data['Species'].unique() #iske aage second part chalu hota hai

sertosa_data = data[data['Species'] == 'Iris-setosa']
versicolor_data = data[data['Species'] == 'Iris-versicolor']
virginica_data = data[data['Species'] == 'Iris-virginica']

sertosa_data.describe()

versicolor_data.describe()

virginica_data.describe()

        Id  SepalLength  SepalWidth  PetalLength  PetalWidth
count  0.0          0.0         0.0          0.0         0.0
mean   NaN          NaN         NaN          NaN         NaN
std    NaN          NaN         NaN          NaN         NaN
min    NaN          NaN         NaN          NaN         NaN
25%    NaN          NaN         NaN          NaN         NaN
50%    NaN          NaN         NaN          NaN         NaN
75%    NaN          NaN         NaN          NaN         NaN
max    NaN          NaN         NaN          NaN         NaN